//s-catalog-subcats
.s-catalog-subcats{
	margin-bottom: 20px;

	.container{
		&:after{
			content: '';
			width: 50px;
			height: 100%;
			background: linear-gradient(to right,transparent,#FFF 50%);
			position: absolute;
			right: 0;
			top: 0;
			z-index: 2;
			display: none;
			@include res(l){
				display: block;
			}
		}
	}

	ul{
		position: relative;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		@include res(l){
			flex-wrap: nowrap;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			margin-left: -14px;
			margin-right: -14px;
			padding-bottom: 8px;
		}

		li{
			display: inline-block;
			vertical-align: top;
			margin: 0 4px 4px 0;
			@include res(l){
				margin: 0 0 0 14px;

				&:last-child{
					padding-right: 14px;
				}
			}

			a{
				@include res(xs){
				}
			}
		}
	}
}
//s-catalog-subcats


//s-sort
.s-sort{
	@include res(l){
		display: none;
		padding-top: $pad-xxs;
		padding-bottom: 0;
	}
	&.active{
		display: flex;
	}
}

.sort-panel{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $gray-bg;
	border-radius: 15px;
	padding: $pad-s;
	@include res(xxl){
		padding: $pad-xs $pad-s;
	}
	@include res(m){
		flex-direction: column;
		align-items: flex-start;
	}
	@include res(xs){
		align-items: center;
	}

	&__block{
		display: flex;
		align-items: center;
		@include res(m){
			margin-bottom: $pad-xs;

			&:last-child{
				margin-bottom: 0;
			}
		}
		@include res(xs){
			flex-direction: column;
			align-items: center;
		}
	}

	&__title{
		margin-right: $pad-xs;
		@include res(xs){
			margin-right: 0;
			margin-bottom: 6px;
		}
	}
}
//s-sort



//s-catalog
.s-catalog{

}

.catalog-wrapper{
	display: flex;
}

.catalog-aside{
	width: 270px;
	flex-shrink: 0;
	padding-right: 30px;
	@include res(xxl){
		padding-right: 20px;
		width: 225px;
	}
	@include res(l){
		width: 0;
		padding-right: 0;
	}
}

.catalog-main{
	flex-shrink: 1;
	width: calc(100% - 270px);
	@include res(xxl){
		width: calc(100% - 225px);
	}
	@include res(l){
		width: 100%;
	}
}
//s-catalog


//filter-block
.filter-block{
	background: $gray-bg;
	border-radius: 15px;
	margin-bottom: $pad-s;
	@include res(l){
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 5;
		border-radius: 0;
		overflow: auto;
		width: 240px;
		padding: $pad-l 0 $pad-xxs 0;
		-webkit-overflow-scrolling: touch;
		box-shadow: 5px 0 20px 0 rgba(0,0,0,0.15);
		transform: translate3d(-250px,0,0);
		transition: transform 0.3s ease;
		pointer-events: none;
	}
	
	&.active{
		transform: none;
		pointer-events: all;
	}

	&__footer{
		border-top: 1px solid #FFF;
		padding: $pad-xs $pad-xs;
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@include res(xxl){
			flex-direction: column;
			padding: $pad-xs $pad-xxs ;
		}
	}

	&__reset{
		margin-left: $pad-xxs;
		font-size: 12px;
		@extend %link-blue;
		@include res(xxl){
			margin-left: 0;
			margin-top: $pad-xxs;
		}
	}
}

.filter{
	position: relative;
	padding: 0 $pad-s;
	border-top: 1px solid #FFF;
	@include res(xxl){
		padding: 0 $pad-xs;
	}

	&:first-child{
		border-top: 0;
	}

	&__title{
		display: block;
		position: relative;
		padding: $pad-xxs 0 $pad-xxs $pad-s;
		cursor: pointer;
		transition: color 0.3s ease;
		font-size: 14px;
		font-family: $font-head;
		font-weight: bold;
		line-height: 1.2;
		user-select: none;

		&:hover{
			color: $blue;
		}

		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 13px;
			left: 5px;
			width: 6px;
			height: 6px;
			border: 1px solid currentColor;
			border-top: 0;
			border-right: 0;
			transform: rotate(-45deg);
			transition: transform 0.3s ease;
			transform-origin: 35% 65%;
		}
	}

	&__values{
		padding-bottom: $pad-xs;
		display: none;
	}

	.style-checkbox{

		margin-bottom: $pad-xxs;

		&:last-child{
			margin-bottom: 0;
		}
	}

	&.opened{
		.filter__title{
			&:before{
				transform: rotate(135deg);
			}
		}
		.filter__values{
			display: block;
		}
	}
}

.price-filter,.range-filter{

	&__header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: $pad-xs;

		input{
			display: block;
			width: 42%;
			@extend .input-text;
			text-align: center;
			padding-left: 4px;
			padding-right: 4px;
			height: 40px;
			font-size: 12px;
			flex-shrink: 1;
		}

		figure{
			display: block;
			flex-shrink: 0;
			height: 2px;
			width: 10px;
			background: #dbdbde;
			margin: 0 4px;
		}
	}
}

.filter-mod{
	position: absolute;
	display: block;
	z-index: 4;
	left: 100%;
	top: 8px;
	background: $blue;
	border-radius: 4px;
	padding: 6px;
	font-size: 12px;
	box-shadow: 0 3px 8px -2px rgba(0,0,0,0.4);
	width: 120px;
	color: #FFF;
	transition: background-color 0.3s ease;
	@include res(l){
		position: relative;
		left: 0;
		top: 0;
		margin-top: $pad-xxs;
		width: 100%;
	}

	&:hover{
		background: lighten($blue,5%);
		&:before{
			background: lighten($blue,5%);
		}
	}

	&:before{
		content: '';
		width: 10px;
		height: 10px;
		position: absolute;
		background: $blue;
		left: -4px;
		top: 8px;
		transform: rotate(45deg);
		z-index: -1;
		transition: background-color 0.3s ease;
	}
}
//filter-block


//s-catalog-mob-btns
.s-catalog-mob-btns{
	display: none;
	@include res(l){

		display: block;
	}

	.filter-block-close{
		@include cross();
		position: fixed;
		left: 224px !important;
		top: 50px !important;
		right: initial !important;
		z-index: 7;
		transform: translate3d(0,-50px,0);
		visibility: hidden;
		opacity: 0;
		-webkit-tap-highlight-color: transparent;

		&.visible{
			transform: none;
			visibility: visible;
			opacity: 1;
		}
	}
	
	.mob-open-filter{
		i.i-down{
			transform: rotate(-90deg);
		}
	}

	.btn{
		@include res(xxs){
			font-size: 12px;
		}
	}
}
//s-catalog-mob-btns


//cat-description
.catalog-description{
	margin-top: 35px;
}
//cat-description