//s-banner-slider
.s-banner-slider{
	padding-bottom: $pad-s;
}

.banner-slider{
	border-radius: 15px;
	overflow: hidden;
	height: 0;

	&.flickity-enabled{
		height: auto;
	}

	.flickity-prev-next-button{
		background: transparent;
		width: 5%;
		height: 100%;
		top: 0;
		transform: none;
		border-radius: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		@include res(l){
			width: 40px;
			height: 40px;
		}

		&.next{
			right: 0;
		}

		&.previous{
			left: 0;
			@include res(l){
				left: initial;
				right: 40px;
			}
		}

		.flickity-button-icon{
			display: block;
			position: relative;
			width: 50%;
			height: auto;
			left: 0;
			top: 0;
			fill: #000;
			transition: fill 0.3s ease;
		}

		&:focus,&:hover{
			box-shadow: none;
			.flickity-button-icon{
				fill: $blue;
			}
		}

		&:disabled{
			opacity: 0.2;
			pointer-events: all;
			&:hover{
				.flickity-button-icon{
					fill: #000;
				}
			}
		}
	}

	&__item{
		width: 100%;

		img,picture{
			display: block;
			width: 100%;
			height: auto;
		}
	}
}
//s-banner-slider


//s-logos-slider
.s-logos-slider{
	padding: $pad-s 0;
}

.logos-slider{

	&__item{
		width: calc(100% / 6);
		height: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		@include res(xxl){
			height: 180px;
		}
		@include res(l){
			height: 100px;
		}
		@include res(s){
			width: calc(100% / 4);
		}
		@include res(xs){
			width: calc(100% / 3);
		}

		img{
			max-width: 100%;
			max-height: 100%;
			transition: opacity 0.2s ease,transform 0.2s ease;
		}

		&.is-selected+.logos-slider__item+.logos-slider__item{

			img{
				opacity: 0;
				transform: scale(0.3);
				@include res(l){
					opacity: 1;
					transform: none;
				}
			}
		}
	}

	&__block{
		position: absolute;
		top: 0;
		left: calc(100% / 6 * 2);
		width: calc(100% / 6);
		min-height: 100%;
		z-index: 2;
		background: #FFF;
		@include res(l){
			position: relative;
			left: 0;
			width: 100%;
			max-width: 600px;
			text-align: center;
			margin: 0 auto;
		}

		.h2{
			margin-bottom: 0.2em;
			@include res(xxl){
				font-size: 18px;
			}
		}
	}

	&__nav{
		margin-top: $pad-s;
		@include res(l){
			margin-top: $pad-xs;
		}

		button{
			font-size: 14px;
			background: transparent;
			border: none;
			transition: all 0.3s ease;
			cursor: pointer;

			&:hover{
				color: $blue;
			}

			&:focus{
				outline: none;
			}

			&:first-child{
				margin-right: 10px;
			}
		}
	}

	&__prev{

	}

	&__next{

	}
}
//s-logos-slider


//home-service
.home-service{
	position: relative;
	border-radius: 15px;
	overflow: hidden;
	background-color: #000;
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 25px;
	height: 260px;
	color: #FFF;
	margin-bottom: 20px;

	&:before{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		background: transparentize(#000,0.87);
		z-index: 1;
		transition: background 0.3s ease;
	}

	&__title{
		margin-bottom: 0.3em;
		position: relative;
		z-index: 2;
	}

	&__descr{
		position: relative;
		z-index: 2;
		width: 100%;
	}

	.btn{
		margin-top: 15px;
		position: relative;
		z-index: 2;
	}

	&:hover{
		&:before{
			background: transparentize(#000,0.6);
		}
	}
}
//home-service


//home-promos
.home-promos{
	.preview{
		margin-bottom: 35px;
		@include res(l){
			margin-bottom: 20px;
		}
		@include res(xxs){
			margin-bottom: 10px;
		}
	}
}
//home-promos


//home-about
.s-home-info{
	padding-bottom: 80px;
	@include res(xxl){
		padding: 60px 0;
	}
	@include res(s){
		padding: 40px 0;
	}
}

.home-about{
	margin-bottom: 40px;
}

.home-news-title{
	margin-bottom: 0.4em;

	a{
		@extend %link-blue-hover;
	}
}

.home-news-list{
	margin-bottom: 20px;
}

.news-intro{
	display: block;
	margin-bottom: 15px;

	time{
		display: block;
		margin-bottom: 4px;
	}

	&__title{
		@extend %link-blue-hover;
	}
}


.home-blog{
	@include res(m){
		margin-top: 40px;
	}

	.grid-4:nth-child(3){
		@include res(l){
			display: none;
		}
		@include res(m){
			display: block;
		}
	}

	.preview{
		margin-bottom: 35px;
		@include res(l){
			margin-bottom: 20px;
		}
		@include res(xxs){
			margin-bottom: 10px;
		}
	}

}
//home-about