.big-banner-sec {}

.big-banner {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 560px;
	padding: $pad-l 90px;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	@include res(xxl) {
		min-height: 445px;
		padding: $pad-l 65px;
	}
	@include res(l) {
		min-height: 400px;
		padding: $pad-l 30px;
	}
	@include res(m) {
		min-height: initial;
		padding: $pad-s 20px;
		background-image: url('../img/pattern-blue-dark.png')!important;
		background-repeat: repeat;
		background-size: auto;
	}
	&--mini {
		min-height: 500px;
		padding: $pad-l 65px;
		@include res(xxl) {
			min-height: 445px;
			padding: $pad-l 65px;
		}
		@include res(l) {
			min-height: 360px;
			padding: $pad-l 30px;
		}
		@include res(m) {
			min-height: initial;
			padding: $pad-s 20px;
		}
	}
	&--violet {
		@include res(m) {
			background-image: url('../img/pattern-violet.png')!important;
		}
	}
}

.big-banner__info {
	max-width: 440px;
	@include res(l) {
		max-width: 360px;
	}
	@include res(s) {
		max-width: 100%;
	}
	.user-content {
		color: #fff;
	}
}