.btn{
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 10px 22px;
	font-size: 16px;
	font-family: $font-head;
	font-weight: bold;
	line-height: 1.3;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
	transition: all 0.3s ease;
	user-select: none;
	background: $gray-bg;
	color: $blue;
	border: none;
	border-radius: 25px;
	box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0), 0 3px 8px -3px rgba(0, 0, 0, 0);

	&:hover,&:focus{
		outline: none;
		box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0), 0 3px 8px -3px rgba(0, 0, 0, 0.5);
		background: darken($gray-bg,5%);
	}

	&:active{
		background: darken($gray-bg,10%);
		box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.3), 0 3px 8px -3px rgba(0, 0, 0, 0);
	}
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.btn--red {
	background: $red;
	color: #FFF;

	&:hover,&:focus{
		background: darken($red,10%);
		box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0), 0 4px 10px -3px rgba(0, 0, 0, 0.6);
	}

	&:active{
		background: darken($red,15%);
		box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.3), 0 3px 8px -3px rgba(0, 0, 0, 0);
	}
}

.btn--blue{
	background: $blue;
	color: #FFF;

	&:hover,&:focus{
		background: darken($blue,10%);
		box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0), 0 4px 10px -3px rgba(0, 0, 0, 0.6);
	}

	&:active{
		background: darken($blue,15%);
		box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.3), 0 3px 8px -3px rgba(0, 0, 0, 0);
	}
}

.btn--small{
	font-family: $font;
	font-size: 12px;
	font-weight: normal;
	padding: 8px 18px;
}

.btn--round{
	width: 40px;
	height: 40px;
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	i.i-compare{
		font-size: 21px;
	}
}