.detail-info-sec {}

.detail-info {}

.detail-info__nav {
	display: flex;
	flex-wrap: wrap;
	button {
		display: block;
		margin-right: 5px;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: $pad-s;
		padding-right: $pad-s;
		border-radius: 5px;
		text-transform: uppercase;
		font-weight: bold;
		font-family: $font-head;
		transition: all 0.3s ease;
		cursor: pointer;
		background: transparent;
		@include res(xxl) {
			padding-left: $pad-xs;
			padding-right: $pad-xs;
		}
		@include res(s) {
			margin-bottom: 5px;
		}
		&:hover {
			color: $blue;
			background: #f5f5fa;
		}
		&.active {
			color: $blue;
			background: #f5f5fa;
		}
		&:focus{
			outline: none;
			background: #f5f5fa;
		}
	}
}

.detail-info__items {
	position: relative;
	margin-top: $pad-s;
	@include res(s) {
		margin-top: $pad-xxs;
	}
}

.detail-info__item {
	display: none;
	padding: $pad-m $pad-m;
	border: 1px solid $gray-border;
	border-radius: 15px;
	z-index: 0;
	@include res(l) {
		padding: $pad-s $pad-s;
	}
	@include res(s) {
		padding: $pad-s $pad-xs;
	}
	&.active {
		display: block;
		z-index: 1;
	}
}

.detail-info__item-text {
	max-width: 630px;
	@include res(s) {
		margin-bottom: $pad-s;
	}
	.btn {
		margin-top: $pad-s;
	}
}

.detail-info__item-descr {
	position: relative;
	height: auto;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 50px;
		opacity: 0;
		transition: all 0.3s ease;
		background: linear-gradient(to bottom, transparentize(#fff,1),transparentize(#fff,0));
	}
	&.closed {
		height: 360px;
		&:after {
			opacity: 1;
		}
	}
}

.detail-info__item-more {

}

.detail-info__item-review {
	margin-top: $pad-l;
	@include res(s) {
		margin-top: $pad-s;
	}
}

.detail-info__params-table{
	strong{
		display: block;
		line-height: 1.3;
	}
	@include res(xs){
		margin-left: -16px;
		margin-right: -16px;
	}
}


//comments
.detail-info__comments{
	max-width: 600px;
}

.bx_soc_comments_div .bx-catalog-tab-list{
	border: none;
	
	li{
		border: none;
		margin-right: 5px;
		border-radius: 5px;
		text-transform: uppercase;
		font-weight: bold;
		font-family: "Exo", Arial, sans-serif;
		transition: all 0.3s ease;
		cursor: pointer;
		background: transparent;
		box-shadow: none;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 20px;
		padding-right: 20px;

		&:hover,&.active{
			color: #2f7bff;
			background: #f5f5fa;
		}

		&.active{
			box-shadow: none;

			&>span{
				color: inherit;
				background: transparent;
				height: auto;
				line-height: inherit;
				bottom: 0;
			}
		}

		span{
			padding: 0;
			bottom: 0;
			color: inherit;
			height: auto;
			line-height: inherit;
		}
	}

	.blog-add-comment .bx_bt_button{
		@extend .btn;
	}
}
//comments