.detail-info-sec {}

.detail-info {}

.detail-info__nav {
	display: flex;
	flex-wrap: wrap;
	button {
		display: block;
		margin-right: 5px;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: $pad-s;
		padding-right: $pad-s;
		border-radius: 5px;
		text-transform: uppercase;
		font-weight: bold;
		font-family: $font-head;
		transition: all 0.3s ease;
		cursor: pointer;
		background: transparent;
		@include res(xxl) {
			padding-left: $pad-xs;
			padding-right: $pad-xs;
		}
		@include res(s) {
			margin-bottom: 5px;
		}
		&:hover {
			color: $blue;
			background: #f5f5fa;
		}
		&.active {
			color: $blue;
			background: #f5f5fa;
		}
		&:focus{
			outline: none;
			background: #f5f5fa;
		}
	}
}

.detail-info__items {
	position: relative;
	margin-top: $pad-s;
	@include res(s) {
		margin-top: $pad-xxs;
	}
}

.detail-info__item {
	position: absolute;
	top: 0;
	left: 0;
	padding: $pad-m $pad-m;
	border: 1px solid $gray-border;
	border-radius: 15px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
	z-index: 0;
	@include res(l) {
		padding: $pad-s $pad-s;
	}
	@include res(s) {
		padding: $pad-s $pad-xs;
	}
	&.active {
		position: relative;
		opacity: 1;
		visibility: visible;
		z-index: 1;
	}
}

.detail-info__item-text {
	max-width: 630px;
	@include res(s) {
		margin-bottom: $pad-s;
	}
	.btn {
		margin-top: $pad-s;
	}
}

.detail-info__item-descr {
	position: relative;
	height: auto;
	overflow: hidden;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 50px;
		opacity: 0;
		transition: all 0.3s ease;
		background: linear-gradient(to bottom, transparentize(#fff,1),transparentize(#fff,0));
	}
	&.closed {
		height: 360px;
		&:after {
			opacity: 1;
		}
	}
}

.detail-info__item-more {

}

.detail-info__item-review {
	margin-top: $pad-l;
	@include res(s) {
		margin-top: $pad-s;
	}
}
