.garant-about-sec {}

.garant-about {
	display: flex;
	flex-wrap: wrap;
	border-radius: 15px;
	background: $gray-bg;
	@include res(m) {
		padding: $pad-s $pad-s;
	}
}

.garant-about__info {
	width: 50%;
	padding: $pad-l $pad-xl;
	@include res(xxl) {
		padding: $pad-l $pad-l;
	}
	@include res(l) {
		padding: $pad-m $pad-m;
	}
	@include res(m) {
		width: 100%;
		padding: 0;
		margin-bottom: $pad-s;
	}
	&:nth-child(2n-1) {
		border-right: 1px solid #a4a5c3;
		@include res(m) {
			border: none;
		}
	}
	&:nth-child(2n) {
		border-left: 1px solid #fff;
		@include res(m) {
			border: none;
		}
	}
}


.delivery-place{
	padding: 10px 0;
	border-bottom: 2px dotted #c5c1c1;

	.contact-info{
		padding-top: 10px;
	}

	&:last-child{
		border-bottom: none;
		padding-bottom: 0;
	}
}