.header-sec {

}

.header {
	padding-bottom: $pad-s;
	@include res(l) {
		padding-top: 40px;
		padding-bottom: 0;
	}
}

.header__top-wrap {
	background: #191f28;
	width: 100%;
	@include res(l) {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
		width: auto;
	}
}

.header__top {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #fff;
	overflow: hidden;
	z-index: 10;
	@include res(l) {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	nav {
		display: flex;
		align-items: center;
		font-size: 12px;
		line-height: 1;
		@include res(l) {
			display: none;
		}
		a {
			display: block;
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: $pad-s;
			padding-right: $pad-s;
			transition: all 0.3s ease;
			&:hover {
				color: $blue;
			}
			&:first-child {
				padding-left: 0;
			}
		}
	}

	&:before,&:after{
		display: none;
	}
}

.header__top-burger {
	display: none;
	@include res(l) {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 40px;
		margin-left: -20px;
		transition: all 0.3s ease;
		cursor: pointer;
	}
	@include res(s) {
		margin-left: -14px;
	}
	figure {
		width: 25px;
		height: 2px;
		background: #FFF;
		position: relative;
		transition: transform 0.4s ease,background 0.2s ease 0.1s;
		&:before, &:after {
			content: '';
			width: 25px;
			height: 2px;
			background: #FFF;
			position: absolute;
			transition: transform 0.4s ease;
		}
		&:before {
			transform: rotate(0) translate3d(0, -6px, 0);
		}
		&:after {
			transform: rotate(0) translate3d(0, 6px, 0);
		}
	}
	&.active {
		background: $blue;
		figure {
			transition: transform 0.4s ease,background 0.1s ease;
			transform: rotate(-180deg);
			background: $blue;
			&:before {
				transform: rotate(-45deg) translate3d(0, 0, 0) scaleX(0.7);
			}
			&:after {
				transform: rotate(45deg) translate3d(0, 0, 0) scaleX(0.7);
			}
		}
	}
}

.header__top-contact {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 1;

	i {
		margin-right: 10px;
		font-size: 24px;
		@include res(l) {
			font-size: 20px;
		}
	}
}

.header__top-phone {
	display: flex;
	align-items: center;
	margin-right: 15px;
	font-size: 14px;
	@include res(s) {
		font-size: 12px;
	}
	@include res(xs){
		margin-right: 0;
	}
	
	&:hover{
		color: #FFF;
	}
}

.header__top-call {
	display: inline-block;
	padding-bottom: 2px;
	margin-right: 20px;
	padding-top: 2px;
	color: $blue;
	border-bottom: 1px dotted transparent;
	transition: all 0.3s ease;
	transform: translate3d(0,0,0);
	@include res(s) {
		display: none;
	}
	&:hover {
		color: $blue;
		border-color: $blue;
	}
	&--menu {
		display: none;
		@include res(s) {
			display: inline-block;
		}
	}
}

.header__cabinet {
	display: flex;
	align-items: center;
	@include res(xs){
		display: none;
	}
	&:hover {
		color: #FFF;
		span {
			color: $blue;
		}
	}
	span {
		transition: all 0.3s ease;
	}
}

.header__middle-wrap {
	padding-top: 15px;
	padding-bottom: $pad-s;
	background: #fff;
	z-index: 10;
}

.header__middle {
	display: flex;
	align-items: center;
	.form-search {
		@include res(xxl) {
			max-width: 300px;
		}
		@include res(m) {
			max-width: 260px;
		}
		@include res(s) {
			display: none;
		}
	}

}

.header__logo {
	max-width: 275px;
	margin-right: 110px;
	@include res(xl) {
		max-width: 200px;
		margin-right: 60px;
	}
	@include res(m) {
		margin-right: 40px;
	}
	@include res(s){
		max-width: 160px;
	}
	@include res(xxs){
		max-width: 140px;
	}
	img {
		display: block;
		max-width: 100%;
	}
}

.header__cart-wrap {
	display: flex;
	align-items: flex-start;
	margin-left: auto;
	sup {
		position: absolute;
		top: -5px;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 20px;
		height: 20px;
		padding: 2px 3px;
		font-family: $font;
		font-weight: bold;
		color: #fff;
		font-size: 12px;
		line-height: 15px;
		background: $red;
		border-radius: 50%;
	}
	&--mobile {
		display: none;
		width: 0;
		opacity: 0;
		transition: all 0.3s ease;
		@include res(l) {

		}
		.header__compare {
			i {
				margin-right: 5px;
				padding: 0 8px;
				font-size: 24px;
			}
			sup {
				font-size: 10px;
			}

			&--no{
				i{
					color: #888888;
				}
			}
		}
		.header__cart {
			i {
				padding: 0 8px;
				font-size: 24px;
			}
			sup {
				font-size: 10px;
			}
		}
		.i-card {
			margin-right: 0;
		}
		&.active, &.open {
			display: flex;
			width: 95px;
			padding-left: 10px;
			opacity: 1;
		}
	}
}

.header__cart {
	display: flex;
	align-items: center;
	&:hover {
		i {
			color: $red;
		}
	}
	i {
		position: relative;
		padding: 0 10px;
		margin-right: 2px;
		font-size: 35px;
		transition: all 0.3s ease;
		@include res(s) {
			font-size: 30px;
			margin-right: 0;
		}
	}
}

.header__cart-info {
	display: block;
	@include res(l) {
		display: none;
	}
	b {
		display: block;
		line-height: 1;
		font-size: 18px;
		@include res(xxl) {
			font-size: 16px;
		}
	}
	span {
		font-size: 12px;
	}
}

.header__compare {
	&:hover {
		i {
			color: $blue;
		}
	}
	i {
		position: relative;
		padding: 0 10px;
		font-size: 35px;
		transition: all 0.3s ease;
		@include res(s) {
			font-size: 30px;
		}
		sup {
			background: $blue;
		}
	}

	&--no{
		i{
			color: $gray-text;

			&:hover{
				color: $gray-text;
			}
		}
	}
}

.header__bottom {
	@include res(l) {
		display: none;
	}
}

.header__bottom-links {
	display: flex;
	align-items: center;
	margin-left: -20px;
	list-style: none;
	text-transform: uppercase;
	font-family: $font-head;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 0.02em;
	@include res(xxl) {
		margin-left: -$pad-xs;
		font-size: 16px;
	}
	a {
		display: block;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: $pad-s;
		padding-right: $pad-s;
		border-radius: 5px;
		transition: all 0.3s ease;
		background: transparent;
		@include res(xxl) {
			padding-left: $pad-xs;
			padding-right: $pad-xs;
		}
		&:hover {
			color: $blue;
			background: #f5f5fa;
		}
		&.active {
			color: $blue;
			background: #f5f5fa;
		}
	}
}

.header__bottom-cat-wrap {
	position: absolute;
	top: 100%;
	left: 20px;
	right: 0;
	max-width: 1600px;
	width: calc(100% - 40px);
	padding: 20px 0 0px 0;
	border-radius: 15px;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	transition: all 0.3s ease;
	z-index: 10;
	//overflow: hidden;
	&.active {
		opacity: 1;
		visibility: visible;
	}
}

.header__bottom-cat {
	position: absolute;
	left: 0;
	right: 0;
	top: 20px;
	opacity: 0;
	transform: translate3d(0, -20px, 0);
	transition: transform 0.6s ease,opacity 0.3s ease,visibility 0.3s ease;
	visibility: hidden;
	&.active {
		position: relative;
		top: 0;
		opacity: 1;
		visibility: visible;
		transform: translate3d(0, 0, 0);
	}
}