.header-sec {

}

.header {}

.header__top {
	padding-top: 5px;
	padding-bottom: 5px;
	background: #191f28;
}

.header__top-contact {}

.header__middle {}

.header__logo {}

.header__cart-wrap {}

.header__cart {}

.header__compare {}

.header__cart-info {}

.header__bottom {}
