.info-banner-sec {}

.info-banner {
	position: relative;
	display: flex;
	align-items: center;
	min-height: 570px;
	padding: $pad-l 90px;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position: center right;
	background-size: cover;
	@include res(xxl) {
		min-height: 445px;
		padding: $pad-l 65px;
	}
	@include res(l) {
		min-height: initial;
		padding: $pad-l 30px;
		background-image: url('../img/pattern-gray.png')!important;
		background-repeat: repeat;
		background-size: auto;
	}
	@include res(m) {
		min-height: initial;
		padding: $pad-s 20px;
	}
	&--mini {
		min-height: 500px;
		@include res(xxl) {
			min-height: 445px;
		}
		@include res(l) {
			min-height: initial;
		}
		@include res(m) {
			min-height: initial;
		}
	}
	&--tender {
		@include res(xxl) {
			background-position: center left;
		}
	}
	&--white {
		color: #fff;
		@include res(l) {
			background-image: url('../img/pattern-blue-dark.png')!important;
		}
	}
	&--right {
		.info-banner__text {
			margin-left: auto;
			@include res(l) {
				margin-left: 0;
			}
		}
	}
	&--long {
		.info-banner__text {
			max-width: 720px;
			@include res(xxl) {
				max-width: 660px;
			}
			@include res(l) {
				max-width: 100%;
			}
		}
	}
}

.info-banner__text {
	max-width: 560px;
	@include res(l) {
		max-width: 100%;
	}
}

.info-banner__contact {
	padding-bottom: $pad-s;
	font-family: $font-head;
	span {
		display: block;
		font-size: 16px;
	}
}

.info-banner__video {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	max-width: 280px;
	margin-top: $pad-m;
	&:hover {
		.h3 {
			color: $blue;
		}
	}
	p {
		font-size: 12px;
	}
	.h3 {
		transition: all 0.3s ease;
	}
	.play-icon {
		position: relative;
		flex-shrink: 0;
		margin-right: $pad-xs;
	}
}

.info-banner__badges {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: $pad-m;
}

.info-banner__badge {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	width: 45%;
	font-size: 12px;
	@include res(xs) {
		width: 100%;
		margin-bottom: $pad-s;
	}
	img {
		margin-top: 5px;
		margin-right: 15px;
		@include res(xs) {
			max-width: 20px;
		}
	}
	.h2, .h3 {
		display: block;
		margin-bottom: 10px;
	}
}