.modal{
	display: none;
	width: 370px;
	max-width: 100%;
	will-change: transform,opacity;
	overflow: visible !important;
	padding: $pad-s $pad-m;
	border-radius: 15px;
	background: url("../img/pattern-gray-modal.png") center top $gray-bg;
	box-shadow: 0 0 30px 0 rgba(19, 47, 141, 0.15);
	transform: translate3d(0,-20px,0);
	opacity: 0;
	transition: all 0.4s ease;
	@include res(s){
		padding: $pad-s $pad-xs;
	}

	&__icon{
		text-align: center;
		margin-bottom: 4px;
	}

	&__title{
		text-align: center;
		margin-bottom: $pad-xs;
		padding: 0 $pad-s;
	}

	&__descr{
		text-align: center;
		margin-bottom: $pad-xs;
	}

	&__btns{
		margin-top: $pad-xs;
		display: flex;
		justify-content: space-between;
	}
	
	&--oneclick{
		padding: 0;
		background: #FFF;
		width: 740px;
	}
}

.fancybox-slide--current {
	.modal {
		transform: none;
		opacity: 1;
	}
}

.fancybox-is-closing{
	.modal {
		transform: translate3d(0,20px,0);
		opacity: 0;
	}
}

.fancybox-bg{
	background: #152748;
}

.fancybox-close-small,.fancybox-slide--image .fancybox-close-small, .fancybox-slide--video .fancybox-close-small, .fancybox-slide--iframe .fancybox-close-small{
	@include cross();
}

.fancybox-slide--video{
	padding: 40px 18px;
}


//modal-oneclick
.oneclick{
	display: flex;
	@include res(xs){
		flex-direction: column;
	}

	&__left{
		width: 50%;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: $pad-xs;
		@include res(xs){
			width: 100%;
			padding: $pad-xxs;
		}
	}

	&__right{
		width: 50%;
		flex-shrink: 0;
		background: url("../img/pattern-gray-modal.png") center top $gray-bg;
		padding: $pad-s $pad-m;
		border-radius: 0 15px 15px 0;
		@include res(s){
			padding: $pad-s $pad-xs;
		}
		@include res(xs){
			width: 100%;
			border-radius: 0 0 15px 15px;
		}
	}

	.product-preview{
		width: 240px;
		@include res(xs){
			width: 140px;
		}
		&:hover{
			box-shadow: 0 0 0 1px $gray-border;
			transform: none;
		}
		&:before{
			display: none;
		}

		&__title{
			&:hover{
				color: inherit;
			}
		}
	}
}
//modal-oneclick