.pagination{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $gray-border;
	border-radius: 15px;
	text-align: center;
	padding: $pad-m $pad-s;
	margin-top: $pad-l;
	@include res(xxl){
		padding: $pad-s;
	}
	@include res(s){
		margin-top: $pad-m;
		flex-wrap: wrap;
		padding: $pad-s 0 $pad-xs 0;
	}

	.pagination-list{
		margin: 0 $pad-s;
	}

	&__link{
		font-size: 12px;
		@extend %link-blue;
		@include res(s){
			margin: 0 14px;
		}

		&--disabled{
			color: $gray-text;
			pointer-events: none;
		}

		@include res(s){
			order: 1;
		}
	}

	.pagination-list{
		@include res(s){
			width: 100%;
			order: 2;
			margin-top: $pad-xs;
		}
	}
}

.pagination-list{
	list-style: none;

	li{
		display: inline-block;
		vertical-align: top;
		margin: 2px 0;

		a{
			display: block;
			width: 30px;
			height: 30px;
			font-weight: bold;
			font-size: 12px;
			line-height: 30px;
			text-align: center;
			border-radius: 50%;
			transition: all 0.3s ease;

			&:hover{
				background: $gray-bg;
				color: $blue;
			}
			
			&.active{
				background: $blue;
				color: #FFF;
			}
		}
	}
}