.printer-cart {
	display: block;
	//max-width: 245px;
	margin-bottom: 20px;
	padding: 5px 5px;
	border-radius: 15px;
	box-shadow: 0 4px 10px 0 rgba(65, 68, 107, 0);
	background: #f0f0f7;
	transition: all 0.3s ease;
	overflow: hidden;
	@include res(xxl) {
		margin-bottom: 16px;
	}
	&:hover {
		box-shadow: 0 4px 10px 0 rgba(65, 68, 107, 0.25);
		.printer-cart__title {
			color: $blue;
		}
	}
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}

.printer-cart__title {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: $font-head;
	font-size: 16px;
	font-weight: bold;
	transition: all 0.3s ease;
	line-height: 1.2;
	overflow: hidden;
	@include res(xxl) {
		font-size: 14px;
	}
	@include res(s) {
		font-size: 12px;
	}
	@include res(xxs){
		padding-left: 5px;
		padding-right: 5px;
	}
}

.printer-cart__price {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
	padding: 3px 14px;
	font-size: 18px;
	font-family: $font-head;
	color: $blue;
	white-space: nowrap;
	border-radius: 20px;
	background: #fff;
	@include res(xxl) {
		font-size: 14px;
	}
	@include res(xxs){
		font-size: 12px;
		margin-left: 5px;
	}
}