.s-pay-methods{
	border-top: 1px solid $gray-border;
	border-bottom: 1px solid $gray-border;
	padding: 5px 0;

	.container{
		display: flex;
		align-items: center;
		@include res(m){
			display: block;
		}
	}

	.h3{
		margin-right: 40px;
		flex-shrink: 0;
		@include res(m){
			text-align: center;
			margin-bottom: 5px;
			margin-right: 0;
		}
	}

	&__img{
		flex-shrink: 1;
		overflow: auto;

		img{
			max-width: 100%;
			height: auto;
			display: block;
			transform: translate3d(0,0,0);
			@include res(m){
				height: 40px;
				width: auto;
				max-width: initial;
			}
		}
	}
}